<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Disguisely</title>
</head>
<body>
    <a href="{% url 'users:logout' %}">Logout</a>
    <h1>Zipping Progress</h1>
    
    <p>
        Progress: 
        <progress id="progress-bar" value="0" max="100"></progress>
        <span id="persen">0</span>%
    </p>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type = "text/javascript">
        WebSocketTest();
        function WebSocketTest() {

            if ("WebSocket" in window) {
                var ws = new SockJS( 'http://152.118.148.95:15674/stomp');
                var client = Stomp.over(ws);
                var mq_queue_display = "/exchange/1606828702/" + {{ key }};

                var on_connect = function() {
                    console.log('connected');
                    client.subscribe(mq_queue_display, on_message);
                };

                var on_error = function() {
                    console.log('error');
                };
                var on_message = function(m) {
                    console.log('message received');
                    $('#progress-bar').val(m.body);
                    $('#persen').html(m.body);
                };

                client.connect('0806444524', '0806444524', on_connect, on_error, '/0806444524');
                
            } else {
                alert("WebSocket NOT supported by your Browser!");
            }
        }
    </script>
</body>
</html>